
@{
    ViewBag.Title = "ViewPost";
}

<h3 style="font-family:'Copperplate Gothic'">All the posts</h3>

<div class="viewTable">
    <table>
        <tr>
            <td> ID </td>
            <td> Email </td>
            <td> Title </td>
            <td> Posted Date </td>
        </tr>
        @{
            foreach (PostTable post in ViewBag.Posts)
            {

                <tr>
                    <td>@post.PostId</td>
                    <td>@post.UserTable.EmailAddress</td>
                    <td><a href="@Url.Action("Details", "Home")/@post.PostId">@post.Title</td>
                    <td>@post.PostedDate</td>
                </tr>
            }
        }
    </table>
</div>

@Html.ActionLink("Back to Main menu", "Index")

